.popup__save-button_invalid {
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .2);
  background: #fff;
}

.popup__save-button_invalid:hover {
  border: 1px solid rgba(0, 0, 0, .2);
  opacity: 1;
  cursor: text;
}
