.popup__container {
  position: absolute;
  top: 30vh;
  left: 30vw;
  max-width: 430px;
  max-height: 330px;
  background: #FFFFFF;
  border-radius: 10px;
}

@media screen and (max-width: 930px) {
  .popup__container {
    max-width: 282px;
  }
}
