.places-grid__name {
  color: #000;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(70%);
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
