.places__caption {
  padding-top: 10px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .places__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .places__caption {
    padding-left: 16px;
  }
}
