.popup__grid {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: 430px 32px;
  grid-template-areas:
  ". close"
  "popup .";
  column-gap: 8px;
}
